# Flutter/Dart build output
build/
.dart_tool/
.packages

# IDE fájlok
.idea/
.vscode/
*.iml

# Platform build mappák
/android/
android/.gradle/
android/app/build/
ios/Pods/
ios/Runner.xcworkspace/

# Egyéb cachek
pubspec.lock.json
*.log

# Ignore backup files
*.bak
gradle/gradle-8.7-all.zip

# Ignore local Gradle zips
gradle/*.zip
android/gradle/wrapper/*.zip

# Ne kövessük a Windows wrapper-t
/gradlew.bat
/android/gradlew.bat
*.cmd

# Backup/reject szemét
*.bak
*.orig
*.rej
