# Flutter/Dart build output
build/
.dart_tool/
.packages

# IDE fájlok
.idea/
.vscode/
*.iml

# Platform build mappák
android/.gradle/
android/app/build/
ios/Pods/
ios/Runner.xcworkspace/

# Egyéb cachek
pubspec.lock.json
*.log

# Ignore backup files
*.bak
